* {
  margin: 0px;
  padding: 0px;
}

.imagen-logo img {
  width: 100px;
}
.header_navbar {
  background-color: rgb(21, 226, 97);
  padding: 0%;
  margin: 0%;
  border: 3px solid rgb(7, 11, 9);
}

.menu a {
  background-color: rgb(246, 232, 41);
  border-radius: 5px;
  padding: 5px;
  border: 2px solid rgb(7, 8, 4);
}

.logo img{
  height: 150px;
  width: 150px;
}
.logoredes img {
  width: 40px;
  height: 40px;
}

.redes {
  width: 170px;
}

@media (max-width: 500px) {
  section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

    .mapa {
      width: 100%;
  }
}